@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Task Manager</title>
	<style>
		.completed {
			color : red;
			text-decoration: line-through;
			font-style: italic;
		}
	</style>
	<script src="~/Scripts/angular.js"></script>
	<script>
	
	angular
		.module("myApp",[])
		.factory("Task",function(){
			var Task = function(name){
				this.name = name;
				this.isCompleted = false;
			}
			Task.prototype.toggleCompletion = function(){
				this.isCompleted = !this.isCompleted;
			};
			return Task;
		})
        .factory("TaskService", ['$http', function (a) {
            return {
                getAllTasks: function () {
                    return a({ method: "get", url: "/api/taskService" });
                }
            };
        }])
		.filter('trimTask', function(){
			return function(data,length){
				length = length || 20;
				return !!data ? data.substr(0,length) + "..." : data;
			}
		}
).controller("taskController", ['$scope','Task','TaskService', function ($scope, Task, TaskService) {
    
    $scope.tasks = {
        list: [],
        addTask: function (taskName) {
            var newTask = new Task(taskName);
            this.list.push(newTask);
            this.lastModifiedAt = new Date();
        },
        removeCompleted: function () {
            for (var i = this.list.length - 1; i >= 0; i--)
                if (this.list[i].isCompleted)
                    this.list.splice(i, 1);
            this.lastModifiedAt = new Date();
        },
        getCompletedCount: function () {
            return this.list.reduce(function (pResult, t) {
                return pResult + (t.isCompleted ? 1 : 0);
            }, 0);
        },
        lastModifiedAt: new Date()
    };
    TaskService.getAllTasks()
        .success(function (data) {
            data.forEach(function (o) {
                var newTask = new Task(o.name);
                newTask.isCompleted = o.isCompleted;
                $scope.tasks.list.push(newTask);
            });
        });
    }]);
	</script>
</head>
<body ng-app="myApp">
	<h1>Task Manager</h1>
	<hr>
	<div data-ng-controller="taskController">
		<span>Task :</span>
		<input type="text" name="" id="" data-ng-model="newTask">
		<button data-ng-click="tasks.addTask(newTask)">Add Task</button>
		<button data-ng-click="tasks.removeCompleted()">Remove Completed</button>
		<ul>
			<li 
			data-ng-repeat="task in tasks.list"
			data-ng-class="{completed : task.isCompleted}"
			data-ng-click="task.toggleCompletion()"
			>{{task.name | trimTask:20}}</li>
		</ul>
		<div data-ng-hide="tasks.list.length === 0">
			<div>
				Total Tasks # : {{tasks.list.length}}
			</div>
			<div>
				Completed Tasks # : <span ng-bind="tasks.getCompletedCount()"></span>

			</div>
		</div>
		<div>{{tasks.lastModifiedAt | date:"shortTime"}}</div>
	</div>
</body>
</html>

<!-- 
function reduce(list, fn, initialValue){
  var result= initialValue;
  for(var i = 0;i<list.length;i++)
    result = fn(result,list[i]);
  return result;
}

var numbers = [1,2,3,4,5]

reduce(numbers,function(p,c){ return p+c;},0);
 -->